@import 'variables';

.contactado{
    width: 100%;
    height: 100%;
    background: $azul;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .redes{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 4rem;
        h1{
            width: 100%;
            color: $blanco;
            text-align: center;
            height: fit-content;
            font-size: 1.5rem;
        }
        .social{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: fit-content;
            width: 100%;
            margin-top: 1.5rem;
            i{
                font-size: 4rem;
                width: 15%;
                height: fit-content;
                color:$blanco;
            }
        }
    }
    .forma{
        width: 30%;
        height: 70%;
        display: flex;
        flex-direction: column;
        padding: .5rem 2rem;
        justify-content: space-around;
        align-items: center;
        border-radius: 15px;
        background: $blanco;
        input{
            width: 90%;
            height: 3rem;
            font-size: 1rem;
            padding: .5rem;
            margin: .5rem;
            border-radius: 5px;
            border-style: solid $negro;
        }
        textarea{
            padding: .5rem;
            margin: .5rem;
        }
        .send{
            background: $rojo;
            color: $blanco;
        }
    }
}

@media screen and (min-width: 320px){
    .contactado{
        flex-direction: column-reverse;
        height: 105%;
        .redes{
            width: 100%;
            height: 20%;
            margin-right: 0;
            h1{
                width: 81%;
                font-weight: lighter;
                font-size: 1.2rem;
                margin-top: 1rem;
            }
            .social{
                margin-top: 1rem;
                align-items: center;
                i{
                    font-size: 3.5rem;
                    padding: .5rem;
                    width: fit-content;
                }
            }
        }
        .forma{
            width: 80%;
            height: 60%;
            margin: 2rem;
            padding: 1rem 2rem;
            border-radius: 10px;
            input{
                width: 100%;
                font-size: .8rem;
            }
            textarea{
                font-size: .8rem;
            }
            .send{
                width: 30%;
                background: $rojo;
                color: $blanco;
                border: none;
            }
        }
    }
}

@media screen and (min-width: 700px){
    .contactado{
        height: 100%;
        .redes{
            h1{
                font-size: 1.5rem;
                margin-top: .5rem;
            }
            .social{
                margin-top: 1rem;
                i{
                    font-size: 4.5rem;
                    padding: .7rem;
                }
            }
        }
        .forma{
            height: 70%;
            border-radius: 25px;
            input{
                width: 95%;
                font-size: 1.2rem;
                height: 4.5rem;
            }
            textarea{
                font-size: 1.2rem;
                width: 95%;
            }
            .send{
                width: 25%;
                font-size: 1.5rem;
                border-radius: 10px;
                height: 4.5rem;
            }
        }
    }
}

@media screen and (min-width: 1000px){
    
.contactado{
    width: 100%;
    height: 100%;
    background: $azul;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .redes{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 4rem;
        h1{
            width: 100%;
            color: $blanco;
            text-align: center;
            height: fit-content;
            font-size: 1.5rem;
        }
        .social{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: fit-content;
            width: 100%;
            margin-top: 1.5rem;
            i{
                font-size: 4rem;
                width: 15%;
                height: fit-content;
                color:$blanco;
            }
        }
    }
    .forma{
        width: 40%;
        height: 70%;
        display: flex;
        flex-direction: column;
        padding: .5rem 2rem;
        justify-content: space-around;
        align-items: center;
        border-radius: 15px;
        background: $blanco;
        input{
            width: 90%;
            height: 3rem;
            font-size: 1rem;
            padding: .5rem;
            margin: .5rem;
            border-radius: 5px;
            border-style: solid $negro;
        }
        textarea{
            padding: .5rem;
            margin: .5rem;
        }
        .send{
            background: $rojo;
            color: $blanco;
        }
    }
}
}