@import 'variables';

header{
    width: 100%;
    height: 100%;
    background: $azul;
    border-style: none;

    //main_header styles
    .container{
        width: 100%;
        background: $rojo;
        display: flex;
        align-items: flex-start;
        clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
        border-style: none;
        .inner{
            width: 100%;
            height: 99%;
            background: url(../bg01.jpg);
            background-size: cover;
            background-position: center;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
            border-style: none;
            .lema{
                width: 50%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                h1{
                    font-size: 2rem;
                    width: 90%;
                    height: fit-content;
                    color: $rojo;
                    margin-bottom: 1rem;
                }
                button{
                    width: 25%;
                    height: 3rem;
                    padding: .5rem 1rem;
                    background: $rojo;
                    border-style: none;
                    border-radius: 5%;
                    .target{
                        font-weight:bold ;
                        text-decoration: none;
                        color: $blanco;
                    }
                }
            }
        }
    }
    //header_menor
    .texto{
        width: 100%;
        background: $rojo;
        display: flex;
        align-items: flex-start;
        clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
        border-style: none;
        .interior{
            width: 100%;
            height: 99%;
            background: url(../bg02.jpg);
            background-size: cover;
            background-position: center;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 2.5rem;
                width: 80%;
                height: fit-content;
                color: $rojo;
                text-align: center;
            }
        }
    }

}


    //area de relleno de la zona de contacto 
    .CuidaoChico{
        width: 100%;
        height: aut;
        display: flex;
        background: $rojo;
        clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
        .quemao{
            width: 100%;
            height: 98.5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: url(../bg03.jpg);
            background-size: cover;
            background-position: bottom;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
            h1{
                width: 50%;
                height: fit-content;
                text-align: center;
                color: $rojo;
                margin-bottom: 1.5rem;
                font-size: 2rem;
            }
            p{
                width: 75%;
                height: fit-content;
                text-align: justify;
                color: $azul;
                font-size: 1.2rem;
            }
        }
    }

    @media screen and (min-width: 411px) {
        header{
            width: 100%;
            height: 100%;
            background: $azul;
            border-style: none;
        
            //main_header styles
            .container{
                height: 100%;
                align-items: center;
                justify-content: center;
                clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 97%, 100% 97%, 100% 0%);
                .inner{
                    height: 98.5%;
                    background-position: right;
                    clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 97%, 100% 97%, 100% 0%);
                    .lema{
                        width: 100%;
                        height: 100%;
                        h1{
                            font-size: 1.9rem;
                            width: 80%;
                            margin-bottom: 3rem;
                        }
                        button{
                            width: 40%;
                            padding: 1rem;
                            border-radius: 25px;
                            .target{
                                font-weight:bold ;
                                text-decoration: none;
                                color: $blanco;
                            }
                        }
                    }
                }
            }
    }
}