@import 'variables';

header{
    width: 100%;
    height: 100%;
    background: $azul;
    border-style: none;

    //main_header styles
    .container{
        width: 100%;
        background: $rojo;
        display: flex;
        align-items: flex-start;
        clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
        border-style: none;
        .inner{
            width: 100%;
            height: 99%;
            background: url(https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-size: cover;
            background-position: center;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
            border-style: none;
            .lema{
                width: 50%;
                height: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                h1{
                    font-size: 2rem;
                    width: 90%;
                    height: fit-content;
                    color: $rojo;
                    margin-bottom: 1rem;
                }
                button{
                    width: 25%;
                    height: 3rem;
                    padding: .5rem 1rem;
                    background: $rojo;
                    border-style: none;
                    border-radius: 5%;
                    .target{
                        font-weight:bold ;
                        text-decoration: none;
                        color: $blanco;
                    }
                }
            }
        }
    }
    //header_menor
    .texto{
        width: 100%;
        background: $rojo;
        display: flex;
        align-items: flex-start;
        clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
        border-style: none;
        .interior{
            width: 100%;
            height: 99%;
            background: url(https://images.pexels.com/photos/249581/pexels-photo-249581.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-size: cover;
            background-position: center;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 2.5rem;
                width: 80%;
                height: fit-content;
                color: $rojo;
                text-align: center;
            }
        }
    }

}


    //area de relleno de la zona de contacto 
    .CuidaoChico{
        width: 100%;
        height: 100%;
        display: flex;
        background: $rojo;
        clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
        .quemao{
            width: 100%;
            height: 98.5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: url(../bg03.jpg);
            background-size: cover;
            background-position: bottom;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
            h1{
                width: 50%;
                height: fit-content;
                text-align: center;
                color: $rojo;
                margin-bottom: 1.5rem;
                font-size: 2rem;
            }
            p{
                width: 75%;
                height: fit-content;
                text-align: justify;
                color: $azul;
                font-size: 1.2rem;
            }
        }
    }

    @media screen and (min-width: 320px) {
        header{
            width: 100%;
            height: 100%;
            background: $azul;
            border-style: none;
        
            //main_header styles
            .container{
                height: 100%;
                align-items: center;
                justify-content: center;
                clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 97%, 100% 97%, 100% 0%);
                .inner{
                    height: 98.5%;
                    background-position: right;
                    clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 97%, 100% 97%, 100% 0%);
                    .lema{
                        width: 100%;
                        height: 100%;
                        margin-top: 7rem;
                        h1{
                            font-size: 1.7rem;
                            width: 80%;
                            margin-bottom: 3rem;
                        }
                        button{
                            width: 40%;
                            padding: 1rem;
                            border-radius: 25px;
                            .target{
                                font-weight:bold ;
                                text-decoration: none;
                                color: $blanco;
                            }
                        }
                    }
                }
            }

//header_menor
        .texto{
            height: 100%;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 97%, 100% 97%, 100% 0%);
            .interior{
                clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 97%, 100% 97%, 100% 0%);
                h1{
                    font-size: 1.6rem;
                    width: 85%;
                    margin-bottom: 5rem;
                }
            }
        }
    }

    //area de relleno de la zona de contacto 
    .CuidaoChico{
        clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 97%, 100% 97%, 100% 0%);
        .quemao{
            background: url(../bg05.jpg);
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 97%, 100% 97%, 100% 0%);
            background-size: cover;
            background-position: bottom;
            h1{
                margin-bottom: 1.2rem;
                font-size: 1.5rem;
            }
            p{
                width: 70%;
                font-size: 1rem;
            }
        }
    }
}

@media screen and (min-width: 700px) {
    header{
//main_header styles
    .container{
        clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 96%, 100% 96%, 100% 0%);
        .inner{
            background-position: center;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 96%, 100% 96%, 100% 0%);
            .lema{
                width: 90%;
                align-items: flex-start;
                margin-top: 9rem;
                margin-left: 2rem;
                h1{
                font-size: 2.5rem;
                    width: 100%;
                    margin-bottom: 3rem;
                }
                button{
                    width: 35%;
                    height: 4rem;
                    font-size: 1.3rem;
                }
            }
        }
    }

//header_menor
    .texto{
        .interior{
            h1{
                font-size: 2rem;
                width: 85%;
                margin-bottom: 5rem;
            }
        }
    }
}

//area de relleno de la zona de contacto 
.CuidaoChico{
    .quemao{
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
}
}

@media screen and(min-width: 1000px){
    header{
        width: 100%;
        height: 100%;
        background: $azul;
        border-style: none;
    
        //main_header styles
        .container{
            width: 100%;
            background: $rojo;
            display: flex;
            align-items: flex-start;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
            border-style: none;
            .inner{
                width: 100%;
                height: 99%;
                background: url(https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
                background-size: cover;
                background-position: center;
                clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
                border-style: none;
                .lema{
                    width: 50%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    h1{
                        font-size: 2rem;
                        width: 90%;
                        height: fit-content;
                        color: $rojo;
                        margin-bottom: 1rem;
                    }
                    button{
                        width: 30%;
                        height: 3rem;
                        padding: .5rem 1rem;
                        background: $rojo;
                        border-style: none;
                        border-radius: 10px;
                        .target{
                            font-weight:bold ;
                            text-decoration: none;
                            color: $blanco;
                        }
                    }
                }
            }
        }
        //header_menor
        .texto{
            width: 100%;
            background: $rojo;
            display: flex;
            align-items: flex-start;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
            border-style: none;
            .interior{
                width: 100%;
                height: 99%;
                background: url(https://images.pexels.com/photos/249581/pexels-photo-249581.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
                background-size: cover;
                background-position: center;
                clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 92%, 100% 92%, 100% 0%);
                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    font-size: 2.5rem;
                    width: 80%;
                    height: fit-content;
                    color: $rojo;
                    text-align: center;
                }
            }
        }
    
    }
    
    
        //area de relleno de la zona de contacto 
        .CuidaoChico{
            width: 100%;
            height: 100%;
            display: flex;
            background: $rojo;
            clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 94%, 100% 94%, 100% 0%);
            .quemao{
                width: 100%;
                height: 98.5%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: url(../bg03.jpg);
                background-size: cover;
                background-position: bottom;
                clip-path: polygon(0% 0%, 0% 100%, 53% 100%, 63% 94%, 100% 94%, 100% 0%);
                h1{
                    width: 50%;
                    height: fit-content;
                    text-align: center;
                    color: $rojo;
                    margin-bottom: 1.5rem;
                    font-size: 2.5rem;
                }
                p{
                    width: 75%;
                    height: fit-content;
                    text-align: justify;
                    color: $azul;
                    font-size: 1.5rem;
                }
            }
        }
}