@import 'variables';

.menu{
    padding: 1rem;
    width: 100%;
    height: 4rem;
    background: $azul;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid $rojo;
    border-width: .4rem;
    position: fixed;
    z-index: 1;
    .logo{
        padding: 1rem;
        width: 25%;
        display: flex;
        height: 100%;
        flex-direction: row;
        font-style: italic;
        align-items: center;
        justify-content: center;
        h1{
            color:$blanco;
            font-weight: lighter;
            height: fit-content;
            width: fit-content;
            font-size: 2rem;
            margin-right: .5rem;
        }
        h2{
            color:$rojo;
            font-weight: bold;
            height: fit-content;
            width: fit-content;
            font-size: 2rem;
        }
    }
    .enlaces{
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .cadena{
            color: $blanco;
            text-decoration: none;
            width: 33%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            &:hover{
                background: $rojo;
                clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
            }
        }
    }
}
.menumovil{
    display: none;
}
.enlacesmoviles{
    display: none;
}

@media screen and (min-width: 320px) {
    .menu{
        display: none;
    }
    .menumovil{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        padding: .5rem;
        align-items: center;
        justify-content: center;
        .contenedor{
            width: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;
            height: 100%;
            .logo{
                width: 50%;
                height: 80px;
                h1{
                    font-size: 1.3rem;
                    width: fit-content;
                }
                h2{
                    font-size: 1.3rem;
                    width: fit-content;
                }
            }
            .btn{
                width: 40%;
                display: flex;
                justify-content: flex-end;
                height: fit-content;
                padding: 1rem;
                i{
                    font-size: 1.9rem;
                    padding: .5rem;
                    width: fit-content;
                    height: fit-content;
                    color: $blanco;
                }
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .menu{
    display: none;
    }
    .menumovil{
        width: 100%;
        display: flex;
        padding: 0;
        .contenedor{
            padding: .5rem;
            .logo{
                justify-content: left;
                h1{
                    font-size: 2.3rem;
                }
                h2{
                    font-size: 2.3rem;
                }
            }
            .btn{
                i{
                    font-size: 2rem;
                }
            }
        }
    }
}
